/node_modules
package-lock.json
.vscode
# /config/keys_dev.js
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
# private.key
# config/
client/src/components/data/access_key.json